chapter_2/results/to_parallel.RData
chapter_1/results/res_simu.RData
chapter_2/results/my_grid_final.RData
chapter_4/data/1997-01-01-2024-06-30.csv
chapter_3/data/1997-01-01-2024-06-30.csv
chapter_4/data/our_estimates_2024.RData
chapter_3/data/our_estimates_2024.RData
chapter_2/data/WPP2024_GEN_F01_DEMOGRAPHIC_INDICATORS_FULL.xlsx
chapter_1/data/demig-c2c-migration-flow-database-version-1-2_limited-online-edition.xlsx
chapter_1/results/our_estimates_2024.RData
